html, body {margin: 0; height: 100%; overflow: hidden}

#head{
    font-family: 'Roboto Slab', serif;
    bottom:1%;
    left:5%;
    position: absolute;
}

#map{
    margin:auto;
}

#helpButton{
    font-family: 'Roboto Slab', serif;
    text-align: center;
    right: 5%;
    top:5%;
    width: 25px;
    height: 25px;
    background-color:orange;
    position: absolute;
    border: 3px solid black;
    border-radius: 50%;
}

#resetButton{
    font-family: 'Roboto Slab', serif;
    text-align: center;
    right: 5%;
    bottom:5%;
    width: 10%;
    position: absolute;
    border: 3px solid black;
    border-radius: 10%;
    background-color: lightblue;
}
#resetButton:hover{
    cursor: pointer;
    background-color: white;
}
a:hover #helpButton{
    color: red;
    width:30px;
    height: 30px;
    font-size: larger;

}
a #helpButton{
    color: black;
    text-decoration: none;
    font-size: large;
}
a:hover #helpButton{
    color: red;
    width:30px;
    height: 30px;
    font-size: larger;

}
#overlay {
    position: fixed; /* Sit on top of the page content */
    display: none; /* Hidden by default */
    width: 100%; /* Full width (cover the whole page) */
    height: 100%; /* Full height (cover the whole page) */
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0,0,0,0.5); /* Black background with opacity */
    z-index: 2; /* Specify a stack order in case you're using a different order for other elements */
    cursor: pointer; /* Add a pointer on hover */
}

div.tooltip {
    position: absolute;
    text-align: center;
    min-width: 10%;
    min-height: 3%;
    width: auto;
    height: auto;
    padding: 2px;
    border: 2px solid black;
    font-family: 'Roboto Slab', serif;
    background-color: white;
    border-radius: 8px;
}

#overlay#contains{
    position: absolute;
    background-color: white;
    top: 20%;
    bottom:20%;
    max-width: 60%;
    left:20%;
    right: 20%;
    border: 2px solid black;
}